@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{padding: 0;
margin: 0;
box-sizing: border-box;}
.green{background-color: #61FF7B;}
.btn {text-decoration: none;
    font-family: "Inter";
    padding:16px 32px;
     display: inline-block; }
.blue{background-color: #1398a0;}
.radius{border-radius: 1000px;}
.border{border: solid;}
.pointille{border: dashed}
.gras{font-weight: bolder;}
.btn5{ border-radius: 100px;}